<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="../../bundles/acmedemo/css/style.css">
        <link rel="stylesheet" href="../bundles/acmedemo/css/style.css">
    </head>
    <body>
        <header>
            <div class="topBar">
                <div>
                <h1>Logo</h1>
                <p>Baseline lorem ipsum dolor sit amet</p>         </div>
                </div>
                <div class="nav">
            <ul>
                <li><a href="{{ path('divertissement') }}">Divertissement</a></li>
                <li><a href="{{ path('sport') }}">Sport</a></li>
                <li><a href="{{ path('politique') }}">Politique</a></li>
                <li><a href="{{ path('histoire') }}">Histoire</a></li>
                <li><a href="{{ path('nature') }}">Nature</a></li>
                <li><a href="{{ path('sante') }}">Santé</a></li>
                <li><a href="{{ path('culturegenerale') }}">Culture Générale</a></li>
                <li><a href="{{ path('geographie') }}">Géographie</a></li>
                <li><a href="{{ path('gastronomie') }}">Gastronomie</a></li>
                <li><a href="{{ path('hightech') }}">High-tech</a></li>
            </ul>
            </div>     
        </header>
        
        <section>
            <div class="content">
                {% block body %}{% endblock %}
            </div>
            
            <div class="sideBar">
            {% block user %}{% endblock%}
            </div>
        </section>
        
        
        {% block javascripts %}{% endblock %}
    </body>
</html>