<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="../../bundles/acmedemo/css/style.css">
        <link rel="stylesheet" href="../bundles/acmedemo/css/style.css">
    </head>
    <body>
        <header>
            <div class="topBar">
                <div>
                <a href="{{ path('index') }}"><h1>Logo</h1></a>
                <p>Baseline lorem ipsum dolor sit amet</p>         </div>
                </div>
                <div class="nav">
            <ul>
                <li><a class="{% if app.request.attributes.get('_route') == 'divertissement' %}active{% endif %}"href="{{ path('divertissement') }}">Divertissement</a></li>
                <li><a class="{% if app.request.attributes.get('_route') == 'sport' %}active{% endif %}"href="{{ path('sport') }}">Sport</a></li>
                <li><a class="{% if app.request.attributes.get('_route') == 'politique' %}active{% endif %}"href="{{ path('politique') }}">Politique</a></li>
                <li><a class="{% if app.request.attributes.get('_route') == 'histoire' %}active{% endif %}"href="{{ path('histoire') }}">Histoire</a></li>
                <li><a class="{% if app.request.attributes.get('_route') == 'nature' %}active{% endif %}"href="{{ path('nature') }}">Nature</a></li>
                <li><a class="{% if app.request.attributes.get('_route') == 'sante' %}active{% endif %}"href="{{ path('sante') }}">Santé</a></li>
                <li><a class="{% if app.request.attributes.get('_route') == 'culturegenerale' %}active{% endif %}"href="{{ path('culturegenerale') }}">Culture Générale</a></li>
                <li><a class="{% if app.request.attributes.get('_route') == 'geographie' %}active{% endif %}"href="{{ path('geographie') }}">Géographie</a></li>
                <li><a class="{% if app.request.attributes.get('_route') == 'gastronomie' %}active{% endif %}"href="{{ path('gastronomie') }}">Gastronomie</a></li>
                <li><a class="{% if app.request.attributes.get('_route') == 'hightech' %}active{% endif %}"href="{{ path('hightech') }}">High-tech</a></li>
            </ul>
            </div>   
            <div class="search">
                <form method="get" action="{{ path('search_quizz') }}" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" name="search" id="search" class="form-control">
                </div>
                    <button type="submit" class="btn btn-default">Rechercher</button>
            </form>
            </div>  
        </header>
        
        <section>
            <div class="content">
                {% block body %}{% endblock %}
            </div>
            
            <div class="sideBar">
            <!--{% block user %}{% endblock%}-->
            {% include "::userBloc.html.twig" %}
            </div>
        </section>
        
        
        {% block javascripts %}{% endblock %}
    </body>
</html>