{% extends 'base.html.twig' %}


{% block body %}
    <h2>Histoire</h2>
    <div class="listCategory">
        <ul>
            {% for Quizz in HistoireQuizz %}
            <li>
                <a href="{{ path('show_quizz', {id: Quizz.id}) }}">
                    <img src="../../bundles/acmedemo/images/{{ Quizz.img }}" alt="{{ Quizz.titre }}">
                    <div>
                    <p class="categorieInfo">{{ Quizz.categorie }}</p>
                    <p class="QuizzName">{{ Quizz.titre }}</p></div>
                </a>
            </li>
        {% endfor %}
        
        </ul>
    </div>
{% endblock %}

