{% extends 'base.html.twig' %}
{% block title %}{{ Quizz.titre }}{% endblock %}

  {% block body %}
    <h2>{{ Quizz.titre }}</h2>

    <div class="intro">
      <img src="../../bundles/acmedemo/images/{{ Quizz.img }}" alt="{{ Quizz.titre }}">
      <p>{{ Quizz.description }}</p>
    </div>
    
    <div class="quizz">
      <form class="quizzForm" action="" method="">

        {% set number = 0 %}

          <div class="questionNumber">{% set number = number + 1 %}{{ number }}</div>

          {% for Question in Quizz.questions %}
            <label class="libelleQuestion">{{ Question.libelleQuestion }}</label>

            {% for Reponse in Question.reponses %}
              <label class="libelleReponse">{{ Reponse.libelleReponse }}</label>
              <input class="reponse" type="radio" name="reponse" value="ok"/>
            {% endfor %}

          {% endfor %}


        </form>
      </div>
    {% endblock %}

