{% extends 'base.html.twig' %}
{% block title %}{{ Quizz.titre }}{% endblock %}

{% block body %}
    <h2>{{ Quizz.titre }}</h2>

    <div class="intro">
        <img src="../../bundles/acmedemo/images/{{ Quizz.img }}" alt="{{ Quizz.titre }}">
        <p>{{ Quizz.description }}</p>
    </div>
    
    <div class="quizz">
      <form action="" method="">
        <ul>
            {% set number = 0 %}
          

            {% for Question in Quizz.questions %}
           <label class="libelleQuestion">{{ Question.libelleQuestion }}</label>

               {% for Reponse in Question.reponses %}
                <label>{{ Reponse.libelleReponse }}</label>
               <input type="radio" name="rep" value="ok"/>
                {% endfor %}
                 
               <div>
                   <p class="questionNumber">{% set number = number + 1 %}{{ number }}</p>
                   
               </div>
            </li>
        {% endfor %}
        
        </ul>
      </form>
    </div>
{% endblock %}

