{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <input class="identifiant" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Pseudo"/>
	<br />
    <br />
    <input class="identifiant" type="password" id="password" name="_password" required="required" placeholder="Mot de passe"/>
	<br />
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
	<br />
    <input class="envoi" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
