{% extends 'base.html.twig' %}
{% block body %}
	<div id="show-reponse">
	<h2>Vous avez obtenu un score de {{ score }}/10</h2>
	<p>Découvrez les bonnes réponses de votre quizz : </p>
	
	{% set number = 0 %}
	{% for Question in Quizz.questions %}


        <div class="questionNumber">{% set number = number + 1 %}{{ number }}</div><!-- On incrémente -->
        <label class="libelleQuestion">{{ Question.libelleQuestion }}</label>
        <br><br>

        {% for Reponse in Question.reponses %}
		
		    {% if Reponse.isTrue == true  %}
   				<label id="reponsetrue" class="libelleReponse">{{ Reponse.libelleReponse }}</label><br><br>
    		
    		{% elseif Reponse.isTrue == false %}
				<label id="reponsefalse" class="libelleReponse">{{ Reponse.libelleReponse }}</label><br><br>
			{% endif %}
	
        {% endfor %}
      {% endfor %}

    {% if app.user is empty %}
		<h3>Attention vos points sont enregistrés une fois connecté.</h3>
  	{% endif %}
  </div>
{% endblock %}

